{{define "form-upload"}}
<form class='upload-csv-form' action="/upload" enctype="multipart/form-data" method="post">
    <input type="file" name="csv-file"/><br/>
    <input class="simple-submit-in pointer" value="Upload" type="submit"/>
</form>
{{end}}