{{define "form-waitlist"}}
<form class='waitlist-form' action="/apply" method="POST">
    <input class='simple-text-in email-input' autocomplete="off" name="email" type="text" placeholder="Email" required/>
    <span class="simple-text-in-underline"></span><br/>
    <input class="simple-submit-in pointer" value="Apply For the Waitlist" type="submit"/>
</form>
{{end}}