<style>
    * {
        margin: 0;
        padding: 0;
    }
</style>
<div style='height: 60px; width: 100%; border-bottom: 1px solid #979797 ; text-align: center; box-shadow: 0 1px 4px 0 #9B9B9B;'>
    <img style="height: 24px; padding: 20px;" src="https://app.sorter.com/assets/logo-72631f6cc439a2b04cc31728129c70e6849e22530d2ad5570bcbe8012ce31b95.png"/>
    <p style="margin-top: 36px; line-height: 48px; font-size: 24px; color: #4A4A4A; font-family: Avenir, Arial, sans-serif">{{if .Email }} Dear {{ .Email }}, <br>{{end}} Thanks for applying. We will respond shortly</p>
</div>